@import 'breakpoints';
@import 'vars';
@import 'colors';
@import 'common';
@import 'typography';
@import 'editorbody';
@import 'grid';

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

%responsive-image {
  height: auto;
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  color: $color-link;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: lighten($color-link, 10%);
  }
}
