.hidden {
  display: none;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

%block-link {
  color: $color-gray-dark;
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
