.editorbody {
  font-family: $base-font-body;

  .preamble {
    font-size: 1.13em;
  }

  p, blockquote, ol, ul, .preamble {
    margin-bottom: 2em;
  }

  h1 {
    margin-bottom: 0.2em;
  }

  h2, h3, h4, h5 {
    margin-bottom: 0.25em;
  }

  ol {
    padding-left: em(26px);
  }

  ul {
    padding-left: em(20px);
  }

  li ul {
    margin-bottom: 0;
  }

  blockquote {
    background-position: 20px 50%;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    padding-left: 83px;

    @include mq('min', $bp-xsmall) {
      padding-right: 70px;
    }

    @include mq('min', $bp-small) {
      background-position: 80px 50%;
      padding-left: 150px;
    }
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  $image-spacing: 20px;

  blockquote.left,
  blockquote.right,
  img.left,
  img.right {
    margin-bottom: $image-spacing;
    margin-top: $image-spacing;
    max-width: 50%;
  }

  img.left,
  img.right {
    border-radius: 50%;
    height: auto;
  }

  blockquote.left,
  img.left {
    float: left;
    margin-right: $image-spacing;
  }

  blockquote.right,
  img.right {
    float: right;
    margin-left: $image-spacing;
  }

  blockquote.left,
  blockquote.right {
    padding: 40px;
  }

  .clear {
    clear: both;
  }
}
