@mixin colored-pseudo-row( $color ) {
  &:before,
  &:after {
    content: "";
    height: 100%;
    background: $color;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
  }

  &:before {
    left: -100%;
  }

  &:after {
    left: 100%;
  }
}