/**
 * A mixin for easily defining a mediaquery
 * 
 * You can either use one of the predefined breakpoints or use custom ones with 
 * the keywords 'min', 'max', 'between' and 'hdpi'
 * 
 * The predefined ones are:
 * palm
 * lap
 * lap-and-up
 * portable
 * desk
 * desk-wide
 *
 * Example usages:
 * @include mq('phone') {@content}
 * @include mq('min', 780px) {@content}
 * @include mq('max', 480px) {@content}
 * @include mq('between', 480px, 1100px) {@content}
 * @include mq('hdpi') {@content}
 *
 * Tribute: CSS wizardry Harry Roberts (Inuit)
 */

$responsive: true!default;
$phone: 400px!default;
$lap-start:         481px!default;
$desk-start:        990px!default;
$desk-wide-start:   1250px!default;
$palm-end:          $lap-start - 1px;
$lap-end:           $desk-start - 1px;

@mixin mq($media-query, $size1: 500px, $size2: 0){
  @if $responsive {

    @if $media-query == palm{

      @media only screen and (max-width:$palm-end) { @content; }

    }

    @if $media-query == phone {

      @media only screen and (max-width: $phone) { @content; }

    }

    @if $media-query == lap{

      @media only screen and (min-width:$lap-start) and (max-width:$lap-end) { @content; }

    }

    @if $media-query == lap-and-up{

      @media only screen and (min-width:$lap-start) { @content; }

    }

    @if $media-query == portable{

      @media only screen and (max-width:$lap-end) { @content; }

    }

    @if $media-query == desk{

      @media only screen and (min-width:$desk-start) { @content; }

    }

    @if $media-query == desk-wide{

      @media only screen and (min-width: $desk-wide-start) { @content; }

    }

    @if $media-query == between{
      @if $size1 > $size2 {
        @warn "When using 'between' media-query mixin, the min value is expected first";
      }
      @media only screen and (min-width: $size1) and (max-width: $size2) { @content; }

    }

    @if $media-query == max{
      @media only screen and (max-width: $size1) { @content; }

    }

    @if $media-query == min{

      @media only screen and (min-width: $size1) { @content; }

    }

    @if $media-query == hdpi{
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        @content;
      }
    }

  }
}