
// Hides text in an element by squishing the text into oblivion.
// Use this if you need to hide text contained in an inline element
// but still have it read by a screen reader.
@mixin squish-text {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

@mixin hide-text {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin offset-text() {
  // slightly wider than the box prevents issues with inline-block elements
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin image-replace($image) {
  text-indent: 100%;
  white-space: nowrap;
  overflow:hidden;
  background: $image;
}

%visually-hidden {
  height: 0;
  visibility: hidden;
  width: 0;
}
