$color-blue-night: #15233c;
$color-gray-dark: #656d77;
$color-gray: #aab2bc;
$color-gray-medium: #ccd1d8;
$color-gray-light: #e6e9ed;
$color-gray-faded: #f5f7fa;
$color-link: #333;
$color-white: #fff;

$color-dark: #3949AB;
$color-base: #3F51B5;
$color-light: #7986CB;
