<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{default description site.description}}" />
<title>
  {{default title page.basename}} | {{site.title}}
</title>

<link rel="stylesheet" href="{{assets}}styles/css/main.css" />

<!-- Webfonts -->
<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700,700italic|Merriweather:400,300italic,300,400italic,700,700italic' rel='stylesheet' type='text/css' />

{{> favicons }}
{{> inline-scripts }}
