---
hometitle: Home
---
<header class="pageheader" role="banner">
    <div class="outer-container -paded">
        <div class="grid-12">
            <a href="{{relative site.dest "index"}}" accesskey="1" rel="home" title="{{ hometitle }}">
                <img class="logo" src="{{assets}}img/logo/350x150.gif" alt="Logotype"/>
                <h1>{{ site.title }}</h1>
            </a>
        </div>
    </div>
</header>

