---
skip-to-content: Hoppa direkt till innehållet
skip-to-navigation: Gå direkt till huvudnavigationen
---
<div class="skip-links">
    <a class="sr-only" href="#content">{{ skip-to-content }}</a>
    <a class="sr-only" href="#main-navigation">{{ skip-to-navigation }}</a>
</div>
